<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="W2WebServiceImplPortBinding" />
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://processinformatica.com.br:80/W2/W2WebService"
          binding="basicHttpBinding" bindingConfiguration="W2WebServiceImplPortBinding"
          contract="W2Service.W2WebServiceImpl" name="W2WebServiceImplPort" />
      </client>
    </system.serviceModel>
</configuration>